<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Under Speed Test</title>
</head>
<body>
    <h1>Sorry!</h1>
    <h4>The system is under performance test. Please come back later!</h4>
</body>
<script type="module" src="js/503page.js"></script>
</html>