<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESN Acknowledgement</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="text-center mt-5">
        <h1 class = "mt-5 mb-5 font-weight-normal">Welcome to ESN</h1>
        <p>Welcome to ESN community! Before you enter the chat, please be aware that your status can be shared during the chat.</p>
        <h3>How to share your status</h3>
        <p>To share your status, simply click the status button next to your username. More details shown below:</p>
    </div>
    <div class="container w-100 mx-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Explanation</th>
            <th scope="col">Color Code</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>OK</td>
            <td>I am OK: I do not need help.</td>
            <td>Green</td>
            <td><img src="/images/green.jpg" width = "38px" height = "38px"></td>
          </tr>
          <tr>
            <td>Help</td>
            <td>I need help, but this is not a life threatening emergency.</td>
            <td>Yellow</td>
            <td><img src="/images/yellow.jpg" width = "38px" height = "38px"></td>
          </tr>
          <tr>
            <td>Emergency</td>
            <td>I need help now: this is a life threatening emergency!</td>
            <td>Red</td>
            <td><img src="/images/red.jpg" width = "38px" height = "38px"></td>
          </tr>
          <tr>
            <td>Undifined</td>
            <td colspan="3">The user has not proved any status info.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center mt-5">
      <a href="/editprofile" class="btn btn-primary" role="button">I ACKNOWLEDGE</a>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>