<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESN Directory</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .nav-link.active {
            font-weight: bold;
        }

        .user-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .status {
            padding: 4px 8px;
            border-radius: 8px;
            font-size: 0.8em;
            font-weight: bold;
        }

        .status.online {
            color: white;
            background-color: #4CAF50;
        }

        .status.offline{
            color: white;
            background-color: #f44336;
        }
        
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">ESN</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link esn-directory active" href="/esndirectory">ESN Directory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link public-chat" href="/chatwall">Chat Wall</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-primary text-white" href="/join">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Individual User -->
<div class="container mt-4">
    <div  class="online-users" style="margin-top:75px">
        <h4  class="mb-3">Online Users</h4>
        <div id="online-user-list"></div>
        
        <!-- Dynamically Append offline users here. -->
    </div>
    <div class="offline-users mt-5">
        <h4 class="mb-3">Offline Users</h4>
        <div id="offline-user-list">
            <!-- Dynamically Append offline users here. -->
        </div>
       
        
    </div>
</div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="module" src="js/manageOnline.js"></script>
</body>

</html>