<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESN Directory</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/node_modules/izitoast/dist/css/iziToast.min.css"> 
    <script src="/node_modules/izitoast/dist/js/iziToast.min.js"></script>
    <%- include('partials/bootstrapPlugin') %>
    <style>
        .nav-link.active {
            font-weight: bold;
        }

        .user-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .user-card:hover {
            cursor: pointer;
        }

        .status {
            padding: 4px 8px;
            border-radius: 8px;
            font-size: 0.8em;
            font-weight: bold;
        }

        .status.online {
            color: white;
            background-color: #4CAF50;
        }

        .status.offline{
            color: white;
            background-color: #f44336;
        }

        .navbar-toggler {
            outline: 2px solid rgb(178, 212, 216);
            outline-offset: -2px;
        }
        
        .navbar-nav .dropdown-menu a {
            cursor: pointer;
        }
        .search{
            width: max-content;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar') %>


<!-- Individual User -->
<div class="container mt-4">
    <div  class="online-users" style="padding-top:50px">
        <h5  class="mb-3">Click on a user to chat!</h5>
        <h4  class="mb-3">Online Users</h4>
        <div id="online-user-list"></div>
        <!-- Dynamically Append offline users here. -->
    </div>
    <div class="offline-users mt-5">
        <h4 class="mb-3">Offline Users</h4>
        <div id="offline-user-list">
            <!-- Dynamically Append offline users here. -->
        </div>
       
        
    </div>
</div>

<!-- <%- include('partials/searchModal') %> -->

</body>
<script type="module" src="js/notification.js"></script>
<script type="module" src="js/status.js"></script>
<script type="module" src="js/esndirectory.js"></script>
<script type="module" src="js/logout.js"></script>
<script type="module" src="js/search.js"></script>
</html>