<h1> REGISTER </h1>

<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="pwd"><br>
</form>

<button type="button" id="register_button" class="button-styled">Register</button>

<script src="js/index.js"></script>