<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Test</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .nav-link.active {
            font-weight: bold;
        }

        .user-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .user-card:hover {
            cursor: pointer;
        }

        .status {
            padding: 4px 8px;
            border-radius: 8px;
            font-size: 0.8em;
            font-weight: bold;
        }

        .status.online {
            color: white;
            background-color: #4CAF50;
        }

        .status.offline{
            color: white;
            background-color: #f44336;
        }

        .navbar-toggler {
            outline: 2px solid rgb(178, 212, 216);
            outline-offset: -2px;
        }
        
        .navbar-nav .dropdown-menu a {
            cursor: pointer;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
<!-- <nav class="navbar navbar-light bg-light fixed-top"> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fas fa-bars"></i> Menu
    </button>
    <a class="navbar-brand">ESN</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link esn-directory" href="/esndirectory">ESN Directory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link public-chat" href="/chatwall">Chat Wall</a>
            </li>
            <li class="nav-item">
                <a class="nav-link speed-test active">Speed Test</a>
            </li>          
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item d-none">
                <b id="username">{username}</b>
                <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        Undefined
                    </button>
                    <ul class="dropdown-menu mt-3 mb-3">
                        <li class="ml-1"><a id="OK"><i class="fas fa-check-circle" style="color:green"></i> OK</a></li>
                        <li class="ml-1"><a id="Help"><i class="fas fa-exclamation-circle" style="color:rgb(255, 230, 0)"></i> Help</a></li>
                        <li class="ml-1"><a id="Emergency"><i class="fas fa-exclamation-triangle" style="color:red"></i> Emergency</a></li>
                    </ul>
                </span>
            </li>
            <li class="nav-item">
                <a id="logout" class="nav-link btn btn-primary text-white" href="/join">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5 pt-5">
    <h1 class="mb-4"><i class="fas fa-tachometer-alt mr-2"></i>ESN Speed Test</h1>
    <div class="card">
        <div class="card-body">
            <form action="/admin/speedtest" method="post" id="speedTestForm">
                <div class="form-group mb-2">
                    <label for="duration" class="mr-2">Duration:</label><br>
                    <input type="number" class="form-control" name="duration" id="duration" placeholder="Enter duration in seconds" required>
                </div>
                <div class="form-group mb-2">
                    <label for="interval" class="mr-2">Interval:</label><br>
                    <input type="number" class="form-control" name="interval" id="interval" placeholder="Enter interval in milliseconds" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-play"></i> Start</button>
                    <button type="button" class="btn btn-danger mb-2 ml-2" id="stopButton"><i class="fas fa-stop"></i> Stop</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-4">
        <h2><i class="fas fa-chart-bar mr-2"></i>Performance</h2>
        <p><strong>POST Performance:</strong> <span id="post-performance">0</span> requests/second</p>
        <p><strong>GET Performance:</strong> <span id="get-performance">0</span> requests/second</p>
    </div>
</div>


<!-- JS scripts remain the same -->
<script type="module" src="js/status.js"></script>
<script type="module" src="js/logout.js"></script>
<script type="module" src="js/speedtest.js"></script>

</body>

</html>






