<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Test</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel="stylesheet" href="/node_modules/izitoast/dist/css/iziToast.min.css"> 
    <script src="/node_modules/izitoast/dist/js/iziToast.min.js"></script>
    <%- include('partials/bootstrapPlugin') %>
    <style>
        .nav-link.active {
            font-weight: bold;
        }

        .user-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .user-card:hover {
            cursor: pointer;
        }

        .status {
            padding: 4px 8px;
            border-radius: 8px;
            font-size: 0.8em;
            font-weight: bold;
        }

        .status.online {
            color: white;
            background-color: #4CAF50;
        }

        .status.offline{
            color: white;
            background-color: #f44336;
        }

        .navbar-toggler {
            outline: 2px solid rgb(178, 212, 216);
            outline-offset: -2px;
        }
        
        .navbar-nav .dropdown-menu a {
            cursor: pointer;
        }
    </style>
</head>

<body>

    <%- include('partials/navbar') %>

<div class="container mt-5 pt-5">
    <h1 class="mb-4"><i class="fas fa-tachometer-alt mr-2"></i>ESN Speed Test</h1>
    <div class="card">
        <div class="card-body">
            <form action="/admin/speedtest" method="post" id="speedTestForm">
                <div class="form-group mb-2">
                    <label for="duration" class="mr-2">Duration:</label><br>
                    <input type="number" class="form-control" name="duration" id="duration" placeholder="Enter duration in seconds" required>
                </div>
                <div class="form-group mb-2">
                    <label for="interval" class="mr-2">Interval:</label><br>
                    <input type="number" class="form-control" name="interval" id="interval" placeholder="Enter interval in milliseconds" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-2" disabled><i class="fas fa-play"></i> Start</button>
                    <button type="button" class="btn btn-danger mb-2 ml-2" id="stopButton" disabled><i class="fas fa-stop"></i> Stop</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-4">
        <h2><i class="fas fa-chart-bar mr-2"></i>Performance</h2>
        <p><strong>POST Performance:</strong> <span id="post-performance">-</span> requests/second</p>
        <p><strong>GET Performance:</strong> <span id="get-performance">-</span> requests/second</p>
    </div>
</div>
<%- include('partials/searchModal') %>


<!-- JS scripts remain the same -->
<script type="module" src="js/status.js"></script>
<script type="module" src="js/logout.js"></script>
<script type="module" src="js/speedtest.js"></script>

</body>

</html>






