<!-- Doctor Availability Modal -->
<div class="modal fade" id="addAvailabilityModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addAvailabilityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div class="modal-content">
  
        <div class="mb-3 px-3 py-4">
          <div class="d-flex justify-content-center mb-3 align-items-start">
            <label for="addAvailabilityLabel" class="form-label flex-grow-1"><h4><i class="bi bi-calendar-plus-fill pe-2"></i>Add Availability for <span id="selectedDate">[Selected Date]</span></h4></label>
            <button type="button" class="btn" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
          </div>
          <div class="mb-3">
            <h5>Select Times:</h5>
            <div class="d-flex flex-wrap gap-2">
              <button type="button" class="btn btn-outline-primary time-slot" data-time="11:00">11 AM</button>
              <button type="button" class="btn btn-outline-primary time-slot" data-time="13:00">1 PM</button>
              <button type="button" class="btn btn-outline-primary time-slot" data-time="14:00">2 PM</button>
            </div>
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary text-white" id="submit-availability-btn" data-bs-dismiss="modal">Confirm</button>
        </div>
  
      </div>
    </div>
  </div>
  