<!-- Medicine Donation Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="mb-3 px-3 py-4">
                <div class="d-flex justify-content-between mb-3 align-items-start">
                    <h4 class="modal-title" id="staticBackdropLabel">
                        <i class="bi bi-plus-circle-fill pe-2"></i>Donate Medicine
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="mb-3">
                  <label for="medicineName" class="form-label">Medicine Name</label>
                  <input type="text" class="form-control" id="medicineName" placeholder="Enter medicine name" required>
                </div>
                <div class="mb-3">
                  <label for="medicineQuantity" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="medicineQuantity" placeholder="Enter quantity" required min="1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary text-white" id="submit-medicine-btn" data-bs-dismiss="modal">Submit Donation</button>
            </div>
        </div>
    </div>
  </div>
  